<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="962ac5f8-7d79-4e9c-8b2b-beec3e53094a" Alias="forumThread" Level="2">
  <Info>
    <Name>Forum Thread</Name>
    <Icon>icon-chat</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forum+System</Folder>
    <Compositions />
    <DefaultTemplate>ForumThread</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019d4026-1f3f-72f6-8aed-d05c80fe4963">ForumThread</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="17c2eb06-6784-4f06-8d14-523d28d74f71" SortOrder="0">forumReply</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>83454681-e4c9-4da8-a293-ebd481554799</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>1ea2e01f-ebd8-4ce1-8d71-6b1149e63548</Definition>
      <Type>Umbraco.MemberPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c580318e-ed95-4f6a-bc09-f9ab3c8b2621</Key>
      <Name>Is Locked</Name>
      <Alias>isLocked</Alias>
      <Definition>1b42a4d7-8c9a-462d-9b8a-5912ed26ecbf</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f321614-681f-45ff-b200-9928ddc5c93d</Key>
      <Name>Thread Content</Name>
      <Alias>threadContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>201ed7d0-b62b-4f55-86e6-02373eb7124f</Key>
      <Name>Thread Title</Name>
      <Alias>threadTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>990d7e69-2666-4ab9-b1c9-7cc4658d1d68</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>