<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b42a4d7-8c9a-462d-9b8a-5912ed26ecbf" Alias="Forum Thread - Is Locked - Toggle" Level="1">
  <Info>
    <Name>Forum Thread - Is Locked - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>