<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d73c7d2-8524-41cc-bc3f-82b13867e423" Alias="Test" Level="1">
  <Info>
    <Name>Test</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "icon": "icon-list",
  "includeProperties": [
    {
      "header": "Sort",
      "alias": "sortOrder",
      "isSystem": 1
    },
    {
      "header": "Last edited",
      "alias": "updateDate",
      "isSystem": 1
    },
    {
      "header": "Created by",
      "alias": "creator",
      "isSystem": 1
    }
  ],
  "layouts": [
    {
      "name": "Table",
      "icon": "icon-list",
      "collectionView": "Umb.CollectionView.Document.Table"
    },
    {
      "name": "Grid",
      "icon": "icon-grid",
      "collectionView": "Umb.CollectionView.Document.Grid"
    }
  ],
  "orderBy": "sortOrder",
  "orderDirection": "desc",
  "pageSize": 10
}]]></Config>
</DataType>