<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f98a20b-daa4-4ff7-9ff9-4395d3e13376" Alias="Counter Strike 2" Level="2">
  <Info>
    <Parent Key="d534b2d1-5178-43b9-b0c5-fa65d5163591">Homepage</Parent>
    <Path>/Homepage/CounterStrike2</Path>
    <Trashed>false</Trashed>
    <ContentType>forumTopic</ContentType>
    <CreateDate>2026-03-30T20:03:17</CreateDate>
    <NodeName Default="Counter Strike 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d4022-4557-7f7c-ba72-865cca758ac8">ForumTopic</Template>
  </Info>
  <Properties>
    <topicDescription>
      <Value><![CDATA[Talk about CS2]]></Value>
    </topicDescription>
    <topicIcon>
      <Value><![CDATA[]]></Value>
    </topicIcon>
    <topicTitle>
      <Value><![CDATA[Counter Strike 2]]></Value>
    </topicTitle>
  </Properties>
</Content>