<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d808414-8b67-4288-b81e-5e978d30932b" Alias="General Discussion" Level="2">
  <Info>
    <Parent Key="d534b2d1-5178-43b9-b0c5-fa65d5163591">Homepage</Parent>
    <Path>/Homepage/GeneralDiscussion</Path>
    <Trashed>false</Trashed>
    <ContentType>forumTopic</ContentType>
    <CreateDate>2026-03-30T20:02:42</CreateDate>
    <NodeName Default="General Discussion" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d4022-4557-7f7c-ba72-865cca758ac8">ForumTopic</Template>
  </Info>
  <Properties>
    <topicDescription>
      <Value><![CDATA[Discuss stuff]]></Value>
    </topicDescription>
    <topicIcon>
      <Value><![CDATA[]]></Value>
    </topicIcon>
    <topicTitle>
      <Value><![CDATA[General Discussion]]></Value>
    </topicTitle>
  </Properties>
</Content>