<?xml version="1.0" encoding="utf-8"?>
<Content Key="d534b2d1-5178-43b9-b0c5-fa65d5163591" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>forum</ContentType>
    <CreateDate>2026-03-30T20:01:31</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d401d-e63d-7ec7-85f3-bdc83a4de34a">Forum</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Welcome to you're very own forum]]></Value>
    </description>
    <title>
      <Value><![CDATA[TestForum]]></Value>
    </title>
  </Properties>
</Content>