<?xml version="1.0" encoding="utf-8"?>
<Content Key="433b1213-2f63-4e62-8599-80623adaf0db" Alias="Will Valve give us a easter update for CS2" Level="3">
  <Info>
    <Parent Key="9f98a20b-daa4-4ff7-9ff9-4395d3e13376">Counter Strike 2</Parent>
    <Path>/Homepage/CounterStrike2/WillValveGiveUsAEasterUpdateForCS2</Path>
    <Trashed>false</Trashed>
    <ContentType>forumThread</ContentType>
    <CreateDate>2026-03-30T20:18:39</CreateDate>
    <NodeName Default="Will Valve give us a easter update for CS2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019d4026-1f3f-72f6-8aed-d05c80fe4963">ForumThread</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <isLocked>
      <Value><![CDATA[]]></Value>
    </isLocked>
    <threadContent>
      <Value><![CDATA[Valve use to do small updates where they gave chickens reskins during holidays but we haven't seen this yet in cs2 maybe it'll be a first for valve?]]></Value>
    </threadContent>
    <threadTitle>
      <Value><![CDATA[Will Valve give us a easter update for CS2]]></Value>
    </threadTitle>
  </Properties>
</Content>